.container {
  display: flex;
  flex-direction: column;
}
.container-row1 {
  display: flex;
}
.container-row2 {
  display: flex;
}
.empty-box {
  // border: 2px solid red;
  flex: 1 0 50%;
}

.instructions {
  flex: 1 0 50%;
  // border: 2px solid red;
}
.start-interview {
  display: flex;
  justify-content: center;
}
.toggeles {
  display: flex;
  justify-content: center;
}
.video-container {
  flex: 1 0 50%;
  // border: 2px solid red;
  position: relative;
  background-color: black;
  height: 400px;
  width: 600px;
}

.video-container video {
  height: 100%;
  width: 100%;
}

.video-player {
  border: 2px solid green;
}
.toggeles {
  align-items: center;
  justify-content: center;
  display: flex;

  // border: 2px solid rgb(12, 12, 131);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
