<div class="container">
  <div class="container-row1">
    <div class="empty-box"></div>
    <ng-container *ngIf="!is_start_interview">
      <div class="instructions">
        <div class="instruction-list">
          <h1>Instructions</h1>
          <ul>
            <li>list out question one by one. your anwser will</li>
            <li>to get next question click next button</li>
            <li>cannot back the question once you anwser</li>
            <li>
              this site access video and audio, however will not send any data
              outside of your computer
            </li>
          </ul>
        </div>
        <div class="start-interview">
          <button mat-flat-button color="primary" (click)="startInterview()">
            START
          </button>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="is_start_interview">
      <div class="instructions">
        <p>{{ total_question - questions.length }} of {{ total_question }}</p>
        <h2>{{ current_question.question }}</h2>

        <div class="start-interview">
          <button mat-flat-button color="primary" (click)="processInterview()">
            {{ this.questions.length === 0 ? "complete" : "Next question" }}
          </button>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="container-row2">
    <div class="video-container">
      <video autoplay muted #localVideo></video>
      <div class="toggeles">
        <button
          mat-mini-fab
          color="primary"
          (click)="accessCamera()"
          aria-label="Example icon button with a filter list icon"
        >
          <mat-icon>{{
            is_camera_access ? "videocam" : "videocam_off"
          }}</mat-icon>
        </button>
        <button
          mat-mini-fab
          color="primary"
          (click)="accessMicroPhone()"
          aria-label="Example icon button with a filter list icon"
        >
          <mat-icon>{{ is_micro_phone_access ? "mic" : "mic_off" }}</mat-icon>
        </button>
      </div>
      <!-- <video #recordedVideo autoplay muted controls></video> -->
    </div>
    <div class="empty-box"></div>
  </div>
</div>
