<div class="content">
  <form [formGroup]="logInForm" (ngSubmit)="login()">
    <mat-card>
      <mat-card-header class="center-title">
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <mat-label>User Name</mat-label>
          <input matInput formControlName="user_name" />
        </mat-form-field>
      </mat-card-content>
      <mat-card-content>
        <mat-form-field>
          <mat-label>password</mat-label>
          <input matInput [type]="'password'" formControlName="password" />
        </mat-form-field>
      </mat-card-content>
      <mat-card-content class="center-login-btn">
        <button
          mat-flat-button
          color="primary"
          [disabled]="!logInForm.valid"
          type="submit"
        >
          Login
        </button>
      </mat-card-content>
    </mat-card>
  </form>
</div>
