.content {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.center-title {
  justify-content: center;
}
.center-login-btn {
  display: flex;
  justify-content: center;
}
