<div class="container">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Test App</h1>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav mode="side" opened>
      <mat-nav-list>
        @for (sideNavMenuListItem of sideNavMenuList; track $index) {
        <a mat-list-item [routerLink]="sideNavMenuListItem.route_link">{{
          sideNavMenuListItem.route_name
        }}</a>
        }
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
